{% extends 'base.html' %}

{% block content %}
<form action="{% url 'create' %}">
    <div class="card">
        <h5 class="card-header">제목<br>
            <input type="text" name="title"> </h5>
        <div class="card-body">
            <h5 class="card-title">본문</h5>
            <p class="card-text">
                <textarea cols=40 rows=10 name="body"></textarea></p>
            <input class="btn btn-primary" type="submit" value="제출하기"></input>
        </div>
    </div>
</form>

{% endblock %}